/* Main layout */
.app {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  color: #20242e;
}

/* Navigation */
.navbar {
  height: 70px;
  width: 100%;
  padding: 0 8.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0644df;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #ffffff;
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
}

.logo-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #b5f500;
  color: #0644df;
  font-weight: 900;
}

.nav-links,
.nav-actions {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links a,
.nav-actions a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
}

.nav-links a:hover,
.nav-actions a:hover {
  color: #b5f500;
}

.join-btn {
  background: #b5f500;
  color: #20242e !important;
  padding: 10px 20px;
  border-radius: 25px;
}

.cart-btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}


/* HERO SECTION*/

.hero {
  min-height: 600px;
  height: 600px;

  position: relative;
  overflow: hidden;

  background: #0644df;
  color: #ffffff;

  text-align: center;

  padding: 32px 20px 0;

  border-bottom: 0;
}


/* Subtle grid */

.hero::before {
  content: "";

  position: absolute;

  inset: 0;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.09) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.09) 1px,
      transparent 1px
    );

  background-size: 67px 67px;

  pointer-events: none;
}

/* Hero content */

.hero-content {
  position: relative;
  z-index: 5;
}

/* HERO TITLE */

.hero h1 {
  position: relative;
  z-index: 5;

  max-width: 700px;

  margin: 0 auto 18px;

  font-size: clamp(38px, 4.1vw, 54px);
  line-height: 1.05;

  font-weight: 700;

  letter-spacing: -1.5px;
}

/* Description */

.hero-content p {
  position: relative;
  z-index: 5;

  max-width: 650px;

  margin: 0 auto 28px;

  color: #c7d6ff;

  font-size: 13px;
  line-height: 1.55;
}

/* SEARCH BAR*/

.search-bar {
  display: flex;
  align-items: center;

  width: 400px;
  max-width: calc(100vw - 40px);

  height: 43px;

  margin: 0 auto;

  padding: 0;

  background: transparent;

  border: none;
  border-radius: 0;

  position: relative;

  z-index: 7;

  transform: translateY(-30px);

  box-sizing: border-box;
}

/* WHITE SEARCH INPUT AREA*/

.search-icon {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  padding: 0;

  color: #8b929e;

  font-size: 19px;

  background: #ffffff;

  border-radius: 24px 0 0 24px;
}

/* Input */

.search-bar input {
  flex: 1;

  min-width: 0;

  height: 30px;

  padding: 0 5px;

  border: none;
  outline: none;

  background: #ffffff;

  color: #20242e;

  font-family: inherit;

  font-size: 11px;

  border-radius: 0 20px 20px 0;
}

.search-bar input::placeholder {
  color: #8b929e;
}

/* SEARCH BUTTON — OUTSIDE WHITE SEARCH AREA */

.search-bar button {
  flex-shrink: 0;

  height: 30px;

  margin-left: 12px;

  padding: 0 20px;

  border: none;

  border-radius: 20px;

  background: #b5f500;

  color: #20242e;

  font-family: inherit;

  font-size: 12px;

  cursor: pointer;

  box-sizing: border-box;

  transition: background 0.2s ease;
}

.search-bar button:hover {
  background: #c8ff28;
}

/* GREEN ELLIPSE + PERSON*/

.hero-person {
  position: absolute;

  z-index: 1;

  top: 294px;

  left: 50%;

  transform: translateX(-50%);

  width: 880px;

  height: 620px;

  background: transparent;

  border-radius: 0;

  overflow: visible;

  display: flex;

  justify-content: center;

  align-items: flex-start;
}

.hero-person::before {
  content: "";

  position: absolute;

  z-index: 1;

  top: 0;

  left: 50%;

  transform: translateX(-50%);

  width: 880px;

  height: 620px;

  background: #b5f500;

  border-radius: 50% 50% 0 0;
}

/* Person image */

.hero-person img {
  position: relative;

  z-index: 4;

  display: block;

  width: 430px;

  height: 430px;

  max-width: none;

  object-fit: contain;

  object-position: center bottom;

  margin-top: -104px;
}

/* LEARNING PROGRESS CARD*/

.progress-card {
  position: absolute;

  z-index: 8;

  width: 205px;

  padding: 18px 20px;

  right: calc(50% - 305px);

  top: 305px;

  background: #ffffff;

  color: #20242e;

  border-radius: 14px;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.10);

  text-align: left;

  box-sizing: border-box;
}

.progress-card span {
  display: block;

  margin-bottom: 7px;

  color: #555d6b;

  font-size: 11px;
}

.progress-card strong {
  display: block;

  font-size: 36px;

  line-height: 1.1;

  font-weight: 700;
}

.progress-track {
  width: 100%;

  height: 7px;

  margin-top: 12px;

  border-radius: 10px;

  background: #edf0f3;

  overflow: hidden;
}

.progress-fill {
  width: 55%;

  height: 100%;

  background: #b5f500;

  border-radius: 10px;
}

/* HAPPY STUDENTS CARD */

.student-card {
  position: absolute;

  z-index: 5;

  width: 205px;

  padding: 3px 15px;

  left: calc(55% - 390px);

  bottom: 40px;

  background: #ffffff;

  color: #20242e;

  border-radius: 20px;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.10);

  text-align: left;

  box-sizing: border-box;
}

.student-card > span {
  display: block;

  margin-bottom: 9px;

  color: #555d6b;

  font-size: 11px;
}

/* HAPPY STUDENTS AVATARS*/

.student-avatars {
  display: flex;

  align-items: center;

  height: 43px;
}

/*student photos small.*/

.student-avatars img {
  width: 20px !important;
  height: 20px !important;

  max-width: 20px !important;
  max-height: 20px !important;

  min-width: 28px;
  min-height: 28px;

  display: block;

  flex: 0 0 43px;

  object-fit: cover;

  object-position: center;

  border-radius: 50%;

  background: #edf0f3;

  border: 2px solid #ffffff;

  margin-left: -7px;

  box-sizing: border-box;
}

.student-avatars img:first-child {
  margin-left: 0;
}

/* 2K+ circle */

.student-avatars b {
  width: 25px;

  height: 25px;

  min-width: 30px;

  min-height: 30px;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-shrink: 0;

  border-radius: 50%;

  background: #b5f500;

  color: #20242e;

  border: 2px solid #ffffff;

  margin-left: -7px;

  font-size: 13px;

  font-weight: 700;

  box-sizing: border-box;
}

/* Small UI/UX course card */
.uiux-card {
  position: absolute;
  z-index: 10;

  width: 145px;
  height: 55px;

  left: 85px;
  top: 300px;

  left: calc(15% + 218px);
  bottom: 66px;

  padding: 9px 11px;

  background: #ffffff;
  border-radius: 11px;

  box-sizing: border-box;
  text-align: left;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.uiux-title {
  color: #20242e;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 3px;
}

.uiux-info {
  display: flex;
  align-items: center;
  gap: 6px;

  color: #858b96;
  font-size: 7px;
  line-height: 1.2;

  white-space: nowrap;
}

/* HERO FIGMA DECORATIVE SHAPES*/

.hero-shape {
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

/* TOP LEFT */

.shape-left-top {
  width: 150px;
  height: 230px;
  left: -40px;
  top: 100px;

  /* change gray shape to ByteSpace lime */
  filter: brightness(0) saturate(100%)
          invert(82%) sepia(96%)
          saturate(900%) hue-rotate(35deg)
          brightness(104%) contrast(104%);
}

/* TOP RIGHT */

.shape-right-top {
  width: 150px;
  height: 220px;
  right: -40px;
  top: 100px;

  filter: brightness(0) saturate(100%)
          invert(82%) sepia(96%)
          saturate(900%) hue-rotate(35deg)
          brightness(104%) contrast(104%);
}

/* LEFT MIDDLE - WHITE SQUIGGLE*/

.shape-left-middle {
  width: 100px;
  height: 100px;
  left: 220px;
  top: 250px;

  filter: brightness(0) invert(1);
}

/* RIGHT MIDDLE - WHITE TRIANGLE*/

.shape-right-middle {
  width: 130px;
  height: 150px;
  right: 150px;
  top: 180px;

  filter: brightness(0) invert(1);
}

/* BOTTOM LEFT - WHITE RING*/

.shape-bottom-left {
  width: 180px;
  height: 250px;
  left: 125px;
  bottom: 10px;

  filter: brightness(0) invert(1);
}

/* BOTTOM RIGHT - WHITE SQUIGGLE*/

.shape-bottom-right {
  width: 200px;
  height: 200px;
  right: 90px;
  bottom: 50px;

  filter: brightness(0) invert(1);
}

/* TEMPORARY NEXT SECTION*/

.placeholder-section {
  max-width: 1100px;

  margin: 0 auto;

  padding: 90px 25px;

  text-align: center;
}

.placeholder-section h2 {
  font-size: clamp(28px, 4vw, 40px);

  margin: 0 0 20px;
}

.placeholder-section p {
  max-width: 800px;

  margin: 0 auto;

  color: #737985;

  line-height: 1.8;
}

.placeholder-section .next-step {
  margin-top: 35px;

  color: #0644df;

  font-weight: 600;
}

/*COURSES SECTION*/

.courses-section {
  width: 100%;

  padding: 0 8% 65px;

  background: #ffffff;
}

/*COMPANY LOGO STRIP*/

.company-logos {
  width: 120%;
  margin-left: -10%;
  background: #f7f7f7;
  padding: 55px 8.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.company-logo {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #5e636b;
  font-size: 20px;
  font-weight: 700;
}

.logo-mark {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #697078;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}


.logo-mark-one {
  font-size: 27px;
}

.logo-mark-two {
  font-size: 21px;
}

.logo-mark-three {
  font-size: 22px;
}

.logo-mark-four {
  font-size: 21px;
}

.logo-mark-five {
  font-size: 18px;
}

/* COURSES INTRODUCTION*/

.courses-intro {
  text-align: center;

  max-width: 850px;

  margin: 75px auto 0;
}

.courses-intro h2 {
  margin: 0;

  color: #20242e;

  font-size: 42px;

  line-height: 1.2;

  font-weight: 700;

  letter-spacing: -1px;
}

.courses-intro p {
  max-width: 850px;

  margin: 22px auto 0;

  color: #858b96;

  font-size: 14px;

  line-height: 1.7;
}

/*COURSE CATEGORIES  */

.course-categories {
  max-width: 1100px;

  margin: 40px auto 55px;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-wrap: wrap;

  column-gap: 32px;

  row-gap: 18px;
}

.course-categories .category {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  text-decoration: none;

  color: #444a55;

  font-size: 13px;

  font-weight: 500;

  padding: 8px 4px;

  white-space: nowrap;

  transition: all 0.2s ease;
}

.course-categories .category.active {
  background: #b5f500;

  color: #20242e;

  padding: 11px 19px;

  border-radius: 25px;
}

.course-categories .category.more {
  color: #0644df;
}

.course-categories .category:hover {
  color: #0644df;
}

.course-categories .category.active:hover {
  color: #20242e;
}

/* COURSE GRID */

.courses-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 28px;
}

.course-card {
  background: #ffffff;

  border: 1px solid #eeeeee;

  border-radius: 18px;

  overflow: hidden;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.10);
}

.course-image {
  width: 100%;

  height: 225px;

  position: relative;

  overflow: hidden;

  background: #f5f5f5;
}

.course-image img {
  display: block;

  width: 100%;

  height: 100%;

  object-fit: cover;
}

.course-image-info {
  position: absolute;

  left: 14px;

  right: 14px;

  bottom: 12px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 7px;
}

.course-image-info span {
  background: rgba(255, 255, 255, 0.92);

  color: #555d6b;

  font-size: 11px;

  padding: 8px 10px;

  border-radius: 20px;

  white-space: nowrap;
}

.course-info {
  padding: 18px 20px 20px;
}

.course-title-row {
  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  gap: 10px;
}

.course-title-row h3 {
  margin: 0;

  font-size: 19px;

  line-height: 1.3;

  color: #20242e;
}

.course-instructor {
  margin-top: 7px;

  color: #858b96;

  font-size: 12px;
}

.course-instructor span {
  color: #858b96;
}

.course-rating {
  color: #777e89;

  font-size: 13px;

  white-space: nowrap;
}

.course-rating span {
  color: #bfc3c8;
}

.course-details {
  margin-top: 18px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.course-level {
  display: inline-flex;

  align-items: center;

  gap: 6px;

  background: #f1f3f5;

  color: #555d6b;

  font-size: 11px;

  font-weight: 500;

  padding: 6px 12px;

  border-radius: 20px;
}

.level-icon {
  width: 13px;

  height: 13px;

  object-fit: contain;
}

.course-students {
  display: flex;

  align-items: center;
}

.avatar {
  width: 30px;

  height: 30px;

  display: block;

  border-radius: 50%;

  border: 2px solid #ffffff;

  margin-left: -7px;

  object-fit: cover;
}

.avatar:first-child {
  margin-left: 0;
}

.student-count {
  width: 30px;

  height: 30px;

  display: flex;

  align-items: center;

  justify-content: center;

  margin-left: -7px;

  border-radius: 50%;

  border: 2px solid #ffffff;

  background: #c9f000;

  color: #20242e;

  font-size: 9px;

  font-weight: 700;
}

.course-price {
  margin-top: 17px;

  color: #0644df;

  font-size: 20px;

  font-weight: 700;
}

.course-price span {
  color: #8b929e;

  font-size: 11px;

  font-weight: 400;
}

/* RESPONSIVE COURSES */

@media (max-width: 900px) {

  .company-logos {
    min-height: 150px;
    gap: 15px;
  }

  .company-logo {
    font-size: 15px;
  }

  .logo-mark {
    width: 28px;

    height: 28px;

    font-size: 17px;
  }

  .courses-intro h2 {
    font-size: 34px;
  }

  .course-categories {
    column-gap: 22px;
  }

  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .course-image {
    height: 210px;
  }

  .course-image-info span {
    font-size: 9px;

    padding: 7px 8px;
  }
}

@media (max-width: 600px) {

  .courses-section {
    padding: 0 5% 45px;
  }

  .company-logos {
    min-height: 120px;

    flex-wrap: wrap;

    justify-content: center;

    padding: 25px 0;
  }

  .company-logo {
    font-size: 13px;
  }

  .logo-mark {
    width: 25px;

    height: 25px;

    font-size: 15px;
  }

  .courses-intro {
    margin-top: 50px;
  }

  .courses-intro h2 {
    font-size: 30px;
  }

  .courses-intro p {
    font-size: 13px;
  }

  .course-categories {
    flex-wrap: wrap;

    gap: 15px 20px;

    margin-bottom: 35px;
  }

  .course-categories .category {
    font-size: 12px;
  }

  .courses-grid {
    grid-template-columns: 1fr;
  }

  .course-image {
    height: 220px;
  }

  .course-title-row h3 {
    font-size: 17px;
  }
}

/* LEARNING PATHS SECTION*/

.learning-paths-section {
  width: 100%;

  padding: 75px 8% 80px;

  background: #ffffff;
}

.learning-paths-heading {
  max-width: 850px;

  margin: 0 auto 55px;

  text-align: center;
}

.learning-paths-heading h2 {
  margin: 0 0 18px;

  color: #20242e;

  font-size: 36px;

  line-height: 1.2;

  font-weight: 700;
}

.learning-paths-heading p {
  margin: 0 auto;

  max-width: 800px;

  color: #777e89;

  font-size: 14px;

  line-height: 1.8;
}

.learning-paths-grid {
  width: 90%;

  display: grid;

  grid-template-columns: repeat(6, 1fr);

  gap:20px;

  border: none;


  background: transparent;
}

.learning-path-card {
  min-height: 140px;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  gap: 10px;

  border: 2px solid #eeeeee;

  border-radius: 16px;

  background: #ffffff;

  box-sizing: border-box;

  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.learning-path-card:last-child {
  border-right: none;
}

.learning-path-card:hover {
  background: #fafdf0;
}

.learning-path-icon {
  width: 48px;

  height: 48px;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  background: #b5f500;
}

.learning-path-icon img {
  width: 25px;

  height: 25px;

  object-fit: contain;
}

.learning-path-card span {
  color: #20242e;

  font-size: 14px;

  font-weight: 500;

  text-align: center;
}

/* COMBINED PROFESSIONAL GROWTH*/

.professional-growth-section {
  width: 100%;
  max-width: none;

  margin: 35px 0 0;

  padding: 55px 8% 35px;

  display: grid;

  grid-template-columns: 1fr 1fr;

  align-items: center;

  gap: 70px;

  border: 3px solid #65769c;

  border-bottom: none;

  background:
    radial-gradient(
      circle at 15% 5%,
      rgba(220, 255, 80, 0.60) 0%,
      rgba(220, 255, 80, 0.25) 22%,
      transparent 48%
    ),
    #ffffff;

  box-sizing: border-box;
}

.growth-content {
  max-width: 600px;
}

.growth-content h2 {
  margin: 0 0 25px;

  color: #20242e;

  font-size: 38px;

  line-height: 1.2;

  font-weight: 700;
}

.growth-content p {
  margin: 0;

  color: #777e89;

  font-size: 14px;

  line-height: 1.9;
}

.growth-stats {
  display: flex;

  align-items: flex-start;

  gap: 65px;

  margin-top: 40px;
}

.growth-stat {
  display: flex;

  flex-direction: column;

  gap: 5px;
}

.growth-stat strong {
  color: #0644df;

  font-size: 25px;

  font-weight: 700;
}

.growth-stat span {
  color: #777e89;

  font-size: 12px;
}

.growth-image-wrapper {
  width: 100%;

  height: 330px;

  border: none;

  padding: 0;

  position: relative;

  background: transparent;

  overflow: hidden;
}

.growth-image {
  display: block;

  width: 100%;

  height: 100%;

  object-fit: contain;

  object-position: center;
}

/* RESPONSIVE LEARNING PATHS*/

@media (max-width: 1100px) {

  .learning-paths-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;

  width: 100%;
  border: none;
  background: transparent;
}

  .learning-path-card {
  background: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 16px;

  min-height: 210px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 25px 15px;

  box-sizing: border-box;
}

  .learning-path-card:nth-child(3) {
    border-right: none;
  }

  .professional-growth-section {
    gap: 40px;
  }

  .growth-content h2 {
    font-size: 32px;
  }
}

/* COMBINED SECTION - TABLET*/

@media (max-width: 900px) {

  .learning-paths-section {
    padding: 60px 5%;
  }

  .learning-paths-heading h2 {
    font-size: 30px;
  }

  .professional-growth-section,
  .create-manage-section {
    width: 100%;
  }

  .professional-growth-section {
    padding: 40px 30px 20px;

    grid-template-columns: 1fr;

    gap: 25px;
  }

  .growth-content {
    max-width: 700px;
  }

  .growth-image-wrapper {
    max-width: 650px;

    height: 240px;

    margin: 0 auto;
  }

  .create-manage-section {
    padding: 20px 30px 40px;

    grid-template-columns: 1fr;

    gap: 30px;
  }

  .create-manage-image-wrapper {
    max-width: 541px;

    width: 100%;

    height: 230px;
  }

  .create-manage-content {
    max-width: 700px;
  }

  .create-manage-content h2 {
    font-size: 34px;
  }
}

/*COMBINED SECTION - MOBILE*/

@media (max-width: 600px) {

  .learning-paths-section {
    padding: 50px 5%;
  }

  .learning-paths-heading {
    margin-bottom: 35px;
  }

  .learning-paths-heading h2 {
    font-size: 26px;
  }

  .learning-paths-heading p {
    font-size: 13px;
  }

  .learning-paths-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .learning-path-card {
    min-height: 125px;
  }

  .learning-path-card:nth-child(2),
  .learning-path-card:nth-child(4),
  .learning-path-card:nth-child(6) {
    border-right: none;
  }

  .learning-path-icon {
    width: 43px;

    height: 43px;
  }

  .learning-path-icon img {
    width: 22px;

    height: 22px;
  }

  .learning-path-card span {
    font-size: 12px;
  }

  .professional-growth-section,
  .create-manage-section {
    width: 90%;
  }

  .professional-growth-section {
    padding: 35px 20px 20px;

    gap: 25px;
  }

  .growth-content h2 {
    font-size: 28px;
  }

  .growth-content p {
    font-size: 13px;
  }

  .growth-stats {
    gap: 35px;

    margin-top: 30px;
  }

  .growth-stat strong {
    font-size: 22px;
  }

  .growth-image-wrapper {
    height: 250px;
  }

  .growth-image {
    height: 100%;

    object-fit: contain;

    object-position: center;
  }

  .create-manage-section {
    padding: 20px 20px 35px;

    gap: 25px;
  }

  .create-manage-image-wrapper {
    height: 240px;
  }

  .create-manage-content h2 {
    font-size: 28px;

    letter-spacing: -0.5px;
  }

  .create-manage-content p {
    font-size: 13px;
  }

  .create-manage-list {
    gap: 14px;

    margin-top: 25px;
  }

  .create-manage-item {
    font-size: 13px;
  }

  .check-icon {
    width: 21px;

    height: 21px;

    font-size: 13px;
  }
}

/*CREATE & MANAGE COURSES SECTION*/

.create-manage-section {
  width: 100%;
  max-width: none;

  margin: 0 ;

  padding: 35px 8% 55px;

  display: grid;

  grid-template-columns: 1fr 1fr;

  align-items: center;

  gap: 70px;

  border: 3px solid #65769c;

  border-top: none;

  background:
    radial-gradient(
      circle at 95% 55%,
      rgba(205, 215, 250, 0.80) 0%,
      rgba(205, 215, 250, 0.40) 30%,
      transparent 65%
    ),
    radial-gradient(
      circle at 5% 95%,
      rgba(215, 225, 255, 0.65) 0%,
      transparent 50%
    ),
    #ffffff;

  box-sizing: border-box;
}

.create-manage-image-wrapper {
  width: 100%;

  max-width: 550px;

  height: 330px;

  margin: 0 auto;

  overflow: hidden;
}


.create-manage-image {
  display: block;

  width: 100%;

  height: 100%;

  object-fit: contain;
}


.create-manage-content {
  max-width: 600px;
}


.create-manage-content h2 {
  margin: 0 0 28px;

  color: #20242e;

  font-size: 40px;

  line-height: 1.2;

  font-weight: 700;

  letter-spacing: -1px;
}


.create-manage-content p {
  margin: 0;

  max-width: 550px;

  color: #777e89;

  font-size: 14px;

  line-height: 1.9;
}


.create-manage-content p strong {
  color: #20242e;

  font-weight: 600;
}


.create-manage-list {
  display: flex;

  flex-direction: column;

  gap: 17px;

  margin-top: 30px;
}


.create-manage-item {
  display: flex;

  align-items: center;

  gap: 12px;

  color: #555d6b;

  font-size: 15px;

  font-weight: 500;
}


.check-icon {
  width: 24px;

  height: 24px;

  display: flex;

  align-items: center;

  justify-content: center;

  flex-shrink: 0;

  border-radius: 50%;

  background: #0644df;

  color: #ffffff;

  font-size: 15px;

  font-weight: 700;
}


/* CREATOR SECTION*/

.creator-section {
  width: 100%;

  min-height: 480px;

  position: relative;

  overflow: hidden;

  display: flex;

  align-items: center;

  justify-content: center;

  background: #0644df;

  color: #ffffff;

  text-align: center;

  padding: 80px 8%;

  border-top: 3px solid #f52ab5;

  border-bottom: 3px solid #f52ab5;
}


.creator-section::before {
  content: "";

  position: absolute;

  inset: 0;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.08) 1px,
      transparent 1px
    );

  background-size: 80px 80px;

  pointer-events: none;
}


.creator-content {
  position: relative;

  z-index: 5;

  max-width: 900px;

  display: flex;

  flex-direction: column;

  align-items: center;
}


.creator-content h2 {
  margin: 0;

  color: #ffffff;

  font-size: 42px;

  line-height: 1.2;

  font-weight: 700;

  letter-spacing: -1px;
}


.creator-content p {
  max-width: 900px;

  margin: 35px auto 0;

  color: #dce5ff;

  font-size: 14px;

  line-height: 1.9;
}


.creator-btn {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  margin-top: 35px;

  padding: 12px 25px;

  background: #b5f500;

  color: #20242e;

  text-decoration: none;

  border-radius: 25px;

  font-size: 14px;

  font-weight: 600;

  transition: 0.2s ease;
}


.creator-btn:hover {
  background: #c9ff33;

  transform: translateY(-2px);
}


/* CREATOR SECTION SHAPES*/

.creator-section {
  position: relative;
  overflow: hidden;
}


/* Common shape setting */

.creator-shape {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

/* TOP LEFT - YELLOW SQUIGGLE */

.creator-shape-left-top {
  width: 150px;
  height: 190px;

  left: -35px;
  top: -25px;

  filter: brightness(0) saturate(100%)
          invert(82%) sepia(96%)
          saturate(900%) hue-rotate(35deg)
          brightness(104%) contrast(104%);
}


/* LEFT MIDDLE - WHITE SQUIGGLE*/

.creator-shape-left-middle {
  width: 120px;
  height: 150px;

  left: 180px;
  top: 30px;

  filter: brightness(0) invert(1);
}

/* LEFT BOTTOM - WHITE TRIANGLE*/

.creator-shape-left-bottom {
  width: 120px;
  height: 140px;

  left: -25px;
  bottom: 70px;

  filter: brightness(0) invert(1);
}

/* BOTTOM LEFT - WHITE RING */

.creator-shape-bottom-left {
  width: 190px;
  height: 190px;

  left: 60px;
  bottom: -75px;

  filter: brightness(0) saturate(100%)
          invert(82%) sepia(96%)
          saturate(900%) hue-rotate(35deg)
          brightness(104%) contrast(104%);
}

/* TOP RIGHT - TRIANGLE*/

.creator-shape-right-top {
  width: 120px;
  height: 140px;

  right: 170px;
  top: 15px;

  filter: brightness(0) saturate(100%)
          invert(82%) sepia(96%)
          saturate(900%) hue-rotate(35deg)
          brightness(104%) contrast(104%);
}

/* RIGHT SIDE - WHITE SHAPE*/

.creator-shape-right {
  width: 190px;
  height: 240px;

  right: -45px;
  top: 35px;

  filter: brightness(0) invert(1);
}

/* BOTTOM RIGHT -  SQUIGGLE*/

.creator-shape-bottom-right {
  width: 170px;
  height: 190px;

  right: 50px;
  bottom: -70px;

  filter: brightness(0) saturate(100%)
          invert(82%) sepia(96%)
          saturate(900%) hue-rotate(35deg)
          brightness(104%) contrast(104%);
}

/* RESPONSIVE CREATOR*/

@media (max-width: 900px) {

  .creator-section {
    min-height: 450px;

    padding: 70px 5%;
  }

  .creator-content h2 {
    font-size: 34px;
  }

  .creator-content p {
    font-size: 13px;

    max-width: 700px;
  }

  .creator-shape-right-top {
    right: 50px;
  }

  .creator-shape-right {
    right: -60px;
  }
}

@media (max-width: 600px) {

  .creator-section {
    min-height: 470px;

    padding: 65px 5%;
  }

  .creator-content h2 {
    font-size: 28px;

    letter-spacing: -0.5px;
  }

  .creator-content p {
    margin-top: 25px;

    font-size: 12px;

    line-height: 1.7;
  }

  .creator-btn {
    margin-top: 28px;

    padding: 10px 20px;

    font-size: 12px;
  }

  .creator-shape-left-top {
    width: 90px;

    height: 50px;

    left: -35px;
  }

  .creator-shape-left-middle {
    width: 50px;

    height: 90px;

    left: 15px;
  }

  .creator-shape-right-top {
    right: 20px;

    border-left-width: 35px;

    border-right-width: 35px;

    border-bottom-width: 60px;
  }

  .creator-shape-right {
    width: 70px;

    height: 150px;

    right: -35px;
  }

  .creator-shape-bottom-left {
    width: 120px;

    height: 80px;

    left: 10px;
  }

  .creator-shape-bottom-right {
    width: 90px;

    height: 60px;

    right: 10px;
  }
}

/* COMMUNITY TESTIMONIALS SECTION*/

.testimonials-section {
  width: 100%;

  padding: 85px 8% 70px;

  background:
    radial-gradient(
      circle at 52% 18%,
      #e1fb75 0%,
      rgba(225, 251, 117, 0.65) 15%,
      rgba(225, 251, 117, 0.15) 32%,
      transparent 48%
    ),
    radial-gradient(
      circle at 8% 88%,
      #c7d3f5 0%,
      rgba(199, 211, 245, 0.65) 18%,
      rgba(199, 211, 245, 0.2) 38%,
      transparent 55%
    ),
    #ffffff;

  overflow: hidden;
}

.testimonials-header {
  max-width: 850px;

  margin: 0 auto 50px;

  display: grid;

  grid-template-columns: 1fr 1.15fr;

  align-items: center;

  gap: 70px;
}

.testimonials-header h2 {
  margin: 0;

  color: #111111;

  font-size: 36px;

  line-height: 1.15;

  font-weight: 700;

  letter-spacing: -1px;
}

.testimonials-header > p {
  margin: 0;

  color: #5f636b;

  font-size: 13px;

  line-height: 1.85;
}

.testimonials-grid {
  max-width: 850px;

  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 28px;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.94);

  border-radius: 16px;

  padding: 16px 17px 15px;

  min-height: 295px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.025);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.testimonial-card:hover {
  transform: translateY(-4px);

  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.08);
}

.testimonial-user {
  display: flex;

  align-items: center;

  gap: 12px;

  margin-bottom: 24px;
}

.testimonial-avatar {
  width: 56px;

  height: 56px;

  border-radius: 50%;

  object-fit: cover;

  display: block;
}

.testimonial-user h3 {
  margin: 0 0 4px;

  color: #111111;

  font-size: 14px;

  font-weight: 700;
}

.testimonial-user span {
  color: #0644df;

  font-size: 12px;
}


.testimonial-text {
  margin: 0;

  color: #666a72;

  font-size: 13px;

  line-height: 1.85;
}

/* TESTIMONIALS RESPONSIVE */

@media (max-width: 900px) {

  .testimonials-section {
    padding: 70px 5% 60px;
  }

  .testimonials-header {
    grid-template-columns: 1fr;

    gap: 25px;

    max-width: 700px;
  }

  .testimonials-header h2 {
    font-size: 32px;
  }

  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);

    max-width: 700px;
  }
}

@media (max-width: 600px) {

  .testimonials-section {
    padding: 55px 5% 50px;
  }

  .testimonials-header {
    margin-bottom: 35px;
  }

  .testimonials-header h2 {
    font-size: 28px;
  }

  .testimonials-header > p {
    font-size: 12px;
  }

  .testimonials-grid {
    grid-template-columns: 1fr;

    gap: 20px;
  }

  .testimonial-card {
    min-height: auto;
  }
}

/* FOOTER SECTION*/

.footer-section {
  width: 100%;

  background: #ffffff;

  color: #20242e;

  padding: 55px 8% 0;
}

.footer-main {
  display: grid;

  grid-template-columns: 1.2fr 1.5fr;

  gap: 90px;

  max-width: 1100px;

  margin: 0 auto;

  min-height: 255px;
}


.footer-brand {
  max-width: 430px;
}


.footer-logo {
  display: flex;

  align-items: center;

  gap: 7px;

  color: #20242e;

  font-size: 18px;

  font-weight: 800;
}


.footer-logo-icon {
  width: 23px;

  height: 23px;

  display: flex;

  align-items: center;

  justify-content: center;

  background: #b5f500;

  color: #ffffff;

  border-radius: 5px 10px 10px 5px;

  font-size: 18px;

  font-weight: 900;

  line-height: 1;
}


.footer-description {
  margin: 14px 0 0;

  color: #555d6b;

  font-size: 11px;

  line-height: 1.7;
}


.newsletter-form {
  display: flex;

  align-items: center;

  gap: 17px;

  margin-top: 28px;
}


.newsletter-form input {
  width: 280px;

  height: 39px;

  padding: 0 17px;

  border: 1px solid #d9dce1;

  border-radius: 22px;

  outline: none;

  color: #20242e;

  background: #ffffff;

  font-family: inherit;

  font-size: 11px;
}

.newsletter-form input::placeholder {
  color: #666b73;
}

.newsletter-form input:focus {
  border-color: #b5f500;
}

.newsletter-form button {
  height: 35px;

  padding: 0 20px;

  border: none;

  border-radius: 20px;

  background: #b5f500;

  color: #20242e;

  font-family: inherit;

  font-size: 11px;

  font-weight: 500;

  cursor: pointer;

  transition: 0.2s ease;
}

.newsletter-form button:hover {
  background: #c9ff33;

  transform: translateY(-1px);
}

.footer-privacy-text {
  max-width: 350px;

  margin: 17px 0 0;

  color: #555d6b;

  font-size: 9px;

  line-height: 1.6;
}

.footer-links {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 55px;

  padding-top: 5px;
}

.footer-column {
  display: flex;

  flex-direction: column;

  gap: 17px;
}

.footer-column a {
  color: #3f444c;

  text-decoration: none;

  font-size: 11px;

  transition: color 0.2s ease;
}

.footer-column a:hover {
  color: #0644df;
}

.footer-bottom {
  max-width: 1100px;

  margin: 10px auto 0;

  padding: 18px 0 32px;

  border-top: 1px solid #dfe1e4;

  display: flex;

  align-items: center;

  justify-content: space-between;
}

.footer-bottom p {
  margin: 0;

  color: #555d6b;

  font-size: 9px;
}

.footer-bottom-links {
  display: flex;

  align-items: center;

  gap: 20px;
}

.footer-bottom-links a {
  color: #555d6b;

  text-decoration: none;

  font-size: 9px;
}

.footer-bottom-links a:hover {
  color: #0644df;
}

/*  FOOTER TABLET*/

@media (max-width: 900px) {

  .footer-section {
    padding: 50px 5% 0;
  }

  .footer-main {
    grid-template-columns: 1fr;

    gap: 45px;
  }

  .footer-brand {
    max-width: 550px;
  }

  .footer-links {
    max-width: 550px;
  }
}

/* FOOTER MOBILE*/

@media (max-width: 600px) {

  .footer-section {
    padding: 45px 5% 0;
  }

  .footer-main {
    gap: 40px;
  }

  .newsletter-form {
    align-items: stretch;

    flex-direction: column;

    gap: 10px;
  }

  .newsletter-form input {
    width: 100%;
  }

  .newsletter-form button {
    width: 100%;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
  }

  .footer-column {
    gap: 14px;
  }

  .footer-bottom {
    align-items: flex-start;

    flex-direction: column;

    gap: 15px;
  }

  .footer-bottom-links {
    flex-wrap: wrap;

    gap: 12px 18px;
  }
}

/* HERO RESPONSIVE*/

@media (max-width: 900px) {

  .hero {
    min-height: 600px;

    height: 600px;

    padding-top: 35px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero-content p {
    max-width: 550px;

    font-size: 12px;
  }

  .search-bar {
    width: 410px;

    transform: translateY(-20px);
  }

  .hero-person {
    width: 550px;

    height: 270px;
  }

  .hero-person::before {
    width: 550px;

    height: 270px;
  }

  .hero-person img {
    width: 330px;

    height: 330px;
  }

  .progress-card {
    right: 5%;

    top: 320px;
  }

  .student-card {
    left: 5%;

    bottom: 45px;
  }

  .hero-decoration {
    font-size: 100px;
  }
}

@media (max-width: 600px) {

  .hero {
    min-height: 620px;

    height: 620px;

    padding: 35px 15px 0;
  }

  .hero h1 {
    font-size: 34px;

    line-height: 1.08;
  }

  .hero-content p {
    font-size: 11px;

    max-width: 340px;

    margin-bottom: 22px;
  }

  .search-bar {
    width: 330px;

    height: 43px;

    transform: translateY(-10px);
  }

  .search-bar button {
    padding: 0 15px;
  }

  .hero-person {
    width: 430px;

    height: 220px;
  }

  .hero-person::before {
    width: 430px;

    height: 220px;
  }

  .hero-person img {
    width: 280px;

    height: 280px;
  }

  .progress-card {
    width: 150px;

    padding: 12px;

    right: 5%;

    top: 360px;
  }

  .progress-card strong {
    font-size: 28px;
  }

  .student-card {
    width: 165px;

    padding: 10px;

    left: 5%;

    bottom: 25px;
  }

  .student-avatars {
    height: 25px;
  }

  .student-avatars img {
    width: 25px !important;

    height: 25px !important;

    max-width: 25px !important;

    max-height: 25px !important;

    min-width: 25px;

    min-height: 25px;

    flex-basis: 25px;
  }

  .student-avatars b {
    width: 25px;

    height: 25px;

    min-width: 25px;

    min-height: 25px;

    font-size: 9px;
  }

  .hero-decoration {
    font-size: 80px;
  }

  .decoration-left {
    left: -45px;

    top: 185px;
  }

  .decoration-right {
    right: -50px;

    top: 175px;
  }
}